.square {
  background-color: aliceblue;
  border: 1px solid #999;
  font-size: 14px;
  margin-right: -1px;
  margin-top: -5px;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

button {
  width: 44px;
  height: 44px;
  /* width: ; */
}